/* src/components/Services/Services.module.css */

.services {
  background-color: white;
  padding: 4rem 0;
}

.container {
  max-width: 1028px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.service {
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 5px;
  text-align: left;
}

.icon {
  font-size: 3rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.service h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* Responsive styles */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme:dark){
	.services {
		background-color: var(--bg-dark);
	}
	.service {
		background-color: var(--middle-dark);
		
	}

	.container h2,	.service h3 {
	  color:var(--title-dark);
	}
	.service p {
		color:var(--subtitle-dark);
	}
}