/* src/components/Packages/Packages.module.css */

.packages {
  background: hsla(0, 0%, 0%, 1);

background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(212, 53%, 25%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(212, 53%, 25%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(212, 53%, 25%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#1E3E62", GradientType=1 );
  padding: 4rem 0;
}

.container {
  max-width: 1028px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.package {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  text-align: left;
}

.package h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.features li {
  font-size: 1rem;
  color: #666;
  line-height: 1.8;
}

.ctaButton {
  background-color: var(--primary);
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


@media (prefers-color-scheme:dark){
	.package {
		background-color: transparent;
		border:2px solid var(--title-dark);
		border-radius:1rem;
	}
	.package h3 {
		color:var(--title-dark);
	}
	.package p {
		color:var(--white);
	}
	.features li {
		color :var(--subtitle-dark);
	}
	.packages {
		background: hsla(0, 0%, 20%, 1);

background: linear-gradient(0deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 40%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 40%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 40%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#333333", endColorstr="#666666", GradientType=1 );
	}
}